@{
    ViewData["Title"] = "Form Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h4>This is a Form!</h4>
    <p>--</p> 
    <form action="/survey" method="post">
    <p>Your Name: <input name="Name" type="text"></p>
    <p>Dojo Location:
        <select id="locations" name = "Location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="New York">New Yorke</option>
        </select>
    </p>
    <p>Favorite Language:
        <select id="languages" name = "Language">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
            <option value="Java">Java</option>
        </select>
    </p>
 
    <p>Comment (optional):</p>
    <textarea name = "Comment" rows = "4" col = "50"></textarea>
    <p><button type="submit">Submit</button></p><br>
    </form>
</div>
